---
interface Post {

    url: string;

    title: string;

    description: string;


}


const username = 'hrishikesh_karande'; // Replace with your dev.to username






let posts: Post[] = [];



try {
    const res = await fetch(`https://dev.to/api/articles?username=${username}`);
    if (res.ok) {
        const data = await res.json();
        posts = data.slice(0, 5); // Show latest 5 posts
    }
} catch (e) {
    posts = [];
}
---

<section id="blogs" class="py-24">
    <h2 class="mb-14 font-serif text-4xl font-bold tracking-tighter text-white md:text-5xl">
        My Blog Posts
    </h2>
    <div class="mb-12 rounded-2xl border border-neutral/20 bg-black">
        <div class="py-10 px-6 bg-difu relative z-[1] w-full rounded-2xl bg-[#1c232d]/85 before:absolute before:inset-0 before:z-[-1] before:rounded-2xl before:bg-[url(/raja.png)] before:bg-[length:128px] before:bg-repeat before:opacity-[5%] before:content-['']">
            {posts.length === 0 ? (
                <p class="text-base text-neutral">No posts found.</p>
            ) : (
                <ul>
                    {posts.map((post: Post) => (
                        <li class="mb-8 last:mb-0">
                            <a
                                href={post.url}
                                target="_blank"
                                rel="noopener noreferrer"
                                class="font-serif text-xl text-white hover:underline after:relative after:bottom-[-3px] after:content-[url(/external.svg)]"
                            >
                                {post.title}
                            </a>
                            <p class="text-base text-neutral mt-2">{post.description}</p>
                        </li>
                    ))}
                </ul>
            )}
            <a
                href={`https://dev.to/${username}`}
                target="_blank"
                rel="noopener noreferrer"
                class="inline-block mt-8 text-primary hover:underline after:relative after:bottom-[-3px] after:content-[url(/external.svg)]"
            >
                See all posts on Dev.to
            </a>
        </div>
        <!-- <div class="hidden sm:flex items-end justify-end overflow-hidden">
            <img
                class="h-full w-[95%] rounded-ss-xl rounded-ee-2xl object-none object-left-top sm:h-[85%] sm:w-full"
                src="/clone-ig.png"
                alt="Blog visual"
                width="736"
                height="483"
            />
        </div> -->
    </div>
</section>