---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ProjectProps } from "@types";

interface Props {
  projects: ProjectProps[];
}

const { projects } = Astro.props;
---

<Section text="Featured Projects" href="projects">
  {
    projects.map(({ name, summary, image, linkPreview, linkSource }, index) => {
      const top = 98 + index * 40;
      return (
        <div
          style={`top: ${top}px;`}
          class="mb-12 rounded-2xl border border-neutral/20 bg-black sm:sticky"
        >
          <div class="bg-difu relative z-[1] grid h-auto min-h-[380px] w-full grid-rows-2 rounded-2xl bg-[#1c232d]/85 before:absolute before:inset-0 before:z-[-1] before:rounded-2xl before:bg-[url(/raja.png)] before:bg-[length:128px] before:bg-repeat before:opacity-[5%] before:content-[''] sm:grid-cols-2 sm:grid-rows-1 md:h-96">
            <div class="px-6 pt-12">
              <h3 class="mb-3 font-serif text-2xl sm:text-3xl font-medium text-primary">
                {linkPreview ? (
                  <a
                    href={linkPreview}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="hover:underline after:relative after:bottom-[-5px] after:content-[url(/external.svg)]"
                  >
                    {name}
                  </a>
                ) : (
                  name
                )}
              </h3>
              <div class="flex flex-col sm:flex-row gap-3 sm:gap-5 pb-3 text-white">
                <a
                  href={linkSource}
                  target="_blank"
                  class="after:relative after:bottom-[-5px] after:content-[url(/external.svg)] hover:underline"
                >
                  Source
                </a>
              </div>
              <p class="text-base text-neutral mb-4 sm:mb-0">{summary}</p>
            </div>
            <div class="flex items-end justify-end overflow-hidden">
              {linkPreview ? (
                <a
                  href={linkPreview}
                  target="_blank"
                  rel="noopener noreferrer"
                  aria-label={`Open preview for ${name}`}
                >
                  <Image
                    class="h-40 w-full rounded-ss-xl rounded-ee-2xl object-cover object-center sm:h-[85%] sm:w-full hover:opacity-80 transition-opacity"
                    src={image}
                    alt={name}
                    width="900"
                    height="483"
                  />
                </a>
              ) : (
                <Image
                  class="h-40 w-full rounded-ss-xl rounded-ee-2xl object-cover object-center sm:h-[85%] sm:w-full"
                  src={image}
                  alt={name}
                  width="900"
                  height="483"
                />
              )}
            </div>
          </div>
        </div>
      );
    })
  }
</Section>
